body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #d3d3d3;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
    border: #014c92 solid 1px;
    border-radius: 2%;
    padding: 15px;
    color: #014c92;
    background-color: #65b5ff;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #014c92 solid 1px;
    border-radius: 2%;
    padding: 20px;
}

input,
select {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #65b5ff;
    border: solid 1px #65b5ff ;
    border-radius: 5px;
    box-shadow: inset;
}
button:hover{
    background-color: #014c92;
}
h1:hover {
    background-color: #0079eb;
    color: aliceblue;

}
p {
    margin: 10px 0;
    font-size: 18px;
}